.bold{
  font-size: 60px;
  text-shadow: 9px 5px 12px red;
}

.h2{
    border: 5px solid greenyellow;
    border-radius: 20px;
    font-size: 12px;
    background-color: greenyellow;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 53%;
    margin-bottom: 20px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    align-items: center;
    margin-top: 20px;
}

.board{
    width: 500px;
    height: 500px;
    display: grid;
    border: 1px solid black;
}